header {
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;

  padding: 60px 8%;
  box-sizing: border-box;
}

/* Imagen */
header img {
  width: 450px;
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

/* Contenedor texto */
header .contenido {
  max-width: 550px;
}

/* Título */
header h2 {
  font-size: 3rem;
  font-weight: 800;
  color: #000;

  margin-bottom: 30px;
  line-height: 1.1;
}

/* Texto */
header p {
  font-size: 1.25rem;
  line-height: 2.1rem;
  color: #333;
}

/* Responsive */
@media (max-width: 900px) {
  header {
    flex-direction: column;
    text-align: center;

    gap: 30px;
    padding: 40px 6%;
  }

  header h2 {
    font-size: 2.2rem;
  }

  header p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  header h4 {
    font-size: 28px;
    line-height: 1.8;
    color: #555;
    font-weight: 500;
    margin-bottom: 20px;
  }
  header img {
    width: 100%;
    max-width: 350px;
  }
}
