/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header principal */
.home{
  min-height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
  padding: 80px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/* Fondo verde inclinado */
.home::after {
  content: "";
  position: absolute;
  top: -150px;
  right: -180px;
  width: 55%;
  height: 140%;
  background: #c6e600;
  transform: rotate(12deg);
  z-index: 1;
}

/* Etiqueta roja */
.home h2 {
  position: relative;
  z-index: 2;
  display: inline-block;
  background: red;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 24px;
  margin-bottom: 40px;
  width: fit-content;
}

/* Título principal */
.home h1 {
  position: relative;
  z-index: 2;
  max-width: 700px;
  font-family: Arial, sans-serif;
  font-size: clamp(3rem, 7vw, 6rem);
  font-weight: 900;
  line-height: 0.95;
  color: #0f172a;
  margin-bottom: 25px;
}

/* Subtítulo */
.home h5 {
  position: relative;
  z-index: 2;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #334155;
  margin-bottom: 35px;
}

/* Botón */
.home button {
  position: relative;
  z-index: 2;
  width: fit-content;
  padding: 18px 40px;
  background: #84cc16;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home button:hover {
  background: #65a30d;
  transform: translateY(-3px);
}
.home img {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  z-index: 2;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
/* RESPONSIVE */
@media (max-width: 992px) {
  .home {
    text-align: center;
    align-items: center;
    padding: 60px 5%;
  }
  
  .home h1 {
    max-width: 100%;
    line-height: 1;
  }
  
  .home button {
    width: 100%;
    max-width: 320px;
  }
}

  .home ::after {
    width: 100%;
    height: 45%;
    top: auto;
    bottom: -120px;
    right: 0;
    transform: rotate(0deg);
  }

@media (max-width: 576px) {
  .home h2 {
    font-size: 1.2rem;
    padding: 10px 18px;
  }

  .home h1 {
    font-size: clamp(2.4rem, 10vw, 4rem);
  }

  .home h5 {
    font-size: 1.1rem;
  }

  .home button {
    font-size: 1.1rem;
    padding: 16px;
  }
  .home img {
    position: relative;
    right: auto;
    top: 50px;
    transform: none;
    display: block;
    width: 105%;
    max-width: 600px;
    margin: 40px auto 0;
  }
}