.donar {
  width: 100%;
  min-height: 100vh;

  background: #f4f4f4;

  padding: 60px 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #111;
}

/* Texto superior */
.donar span {
  font-size: 13px;
  letter-spacing: 4px;
  color: #7a7a7a;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

/* Título */
.donar h1 {
  font-size: 58px;
  text-align: center;
  line-height: 1.1;
  margin: 0 0 24px;
  font-weight: 800;
  color: #000;
}

/* Texto */
.donar p {
  max-width: 700px;
  text-align: center;
  line-height: 1.8;
  color: #555;
  font-size: 22px;
  margin-bottom: 50px;
}

/* Grid */
.grid {
  width: 100%;
  max-width: 1200px;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

  gap: 12px;

  justify-items: center;
}

/* Cuadros */
.cuadro {
  width: 100%;
  max-width: 140px;

  height: 90px;

  background: #e5e5e5;

  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  font-weight: 800;

  color: #7ca900;

  transition: all 0.25s ease;
  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}

/* Hover */
.cuadro:hover {
  transform: translateY(-4px);

  background: #dcdcdc;
}

/* Ocupados */
.cuadro.ocupado {
  background: #b7ff00;
  color: #000;
}

/* Responsive tablet */
@media (max-width: 1024px) {
  .donar h1 {
    font-size: 46px;
  }

  .donar p {
    font-size: 18px;
  }

  .cuadro {
    max-width: 120px;
    height: 80px;

    font-size: 24px;
  }
}

/* Responsive celular */
@media (max-width: 768px) {
  .donar {
    padding: 40px 16px;
  }

  .donar span {
    font-size: 11px;
    letter-spacing: 3px;
  }

  .donar h1 {
    font-size: 34px;
  }

  .donar p {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 36px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

  .cuadro {
    max-width: 100px;
    height: 70px;

    border-radius: 12px;

    font-size: 22px;
  }
}