.apoyo {
  width: 100%;
  min-height: 100vh;

  background: #f4f4f4;

  padding: 40px 18px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 18px;
}

/* Card principal */
.apoyo {
  border: 2px solid #9ad400;
  border-radius: 24px;
}

/* Título pequeño */
.apoyo h2 {
  font-size: 18px;
  font-weight: 700;

  color: #000;

  margin: 0;
  text-align: center;
}

/* Precio */
.apoyo h1 {
  font-size: 64px;
  line-height: 1;

  color: #7db700;

  margin: 0;

  font-weight: 800;
}

/* Texto */
.apoyo h5 {
  font-size: 14px;
  line-height: 1.7;

  color: #666;

  text-align: center;

  margin: 0;

  max-width: 300px;
}

/* Línea divisoria */
.apoyo h6 {
  width: 100%;

  text-align: center;

  font-size: 22px;
  font-weight: 700;

  color: #000;

  margin: 28px 0 0;

  padding-top: 28px;

  border-top: 1px solid #d8d8d8;
}

/* Bloques bancarios */
.apoyo p {
  width: 100%;

  background: #fafafa;

  border-radius: 16px;

  padding: 18px;

  box-sizing: border-box;

  margin: 0;

  color: #333;

  line-height: 1.7;
}

/* Título del bloque */
.apoyo p:nth-of-type(1),
.apoyo p:nth-of-type(3) {
  background: transparent;

  padding: 0;

  font-size: 20px;
  font-weight: 700;

  color: #7ca900;

  margin-top: 8px;
}

/* Texto info bancaria */
.apoyo p:nth-of-type(2),
.apoyo p:nth-of-type(4) {
  font-size: 14px;

  border: 1px solid #ececec;

  background: #ffffff;
}

/* Botón */
.apoyo button {
  width: 100%;

  background: #b7ff00;

  color: #000;

  border: none;

  border-radius: 14px;

  padding: 18px 20px;

  font-size: 16px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.25s;
}

/* Hover */
.apoyo button:hover {
  background: #a4e600;

  transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 768px) {
  .apoyo {
    padding: 32px 16px;
    border-radius: 20px;
  }

  .apoyo h1 {
    font-size: 52px;
  }

  .apoyo h6 {
    font-size: 18px;
  }

  .apoyo p {
    font-size: 13px;
  }

  .apoyo button {
    font-size: 15px;
    padding: 16px;
  }
}
.btn-comprobante {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  width: 100%;
  max-width: 320px;
  margin: 20px auto;

  padding: 14px 20px;

  background: #25d366;
  color: white;

  border: none;
  border-radius: 14px;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 15px rgba(37, 211, 102, 0.3);
}

.btn-comprobante:hover {
  background: #1ebe5d;
}

.btn-comprobante svg {
  font-size: 24px;
}